<ion-view view-title="Month Events History" hide-back-button="true">
    <ion-content>
        <div id='errorMsg' ng-show='noEventsToShow()'>
            <div class='row'>
                <div class='col col-100'>
                    <h1 class="page-title" >{{msg}}</h1>
                </div>
            </div>
        </div>
        <div id="month-table-content" ng-show="!showDayEdit">
            <div class="row">
                <div class="col col-100">
                    <h1 class="page-title" >{{monthName}}</h1>
                </div>
            </div>
            <div class="row">
                <div class="col col-100">
                    <table class="flat-table extended-table">
                        <tr>
                            <th>Day</th>
                            <th>Events</th>
    <!--                        <th>Left hours</th>-->
                        </tr>
                        <tr ng-if="validMonth();"
                            ng-repeat="day in month">
                            <td>{{day.day}}</td>
                            <td><button ng-disabled="day.evts.length < 1" class="button button-block medium-button" 
                                        ng-click="editDayEvents(day)">
                                    View
                                </button>
                            </td>
    <!--                        <td></td>-->
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div id="monthday-content" ng-show="showDayEdit">
            <div class="row">
                <div class="col-90" style="margin-left: 5%;">
                    <button class="button large-button button-bar-inline" ng-click="unselectDay()">Return</button>
                </div>
            </div>
            <div class="row">
                <div class="col col-100">
                    <h1 class="edition-title">{{monthName}} {{selectedDay.day}}</h1>
                </div>
            </div>
            <div class="row">
                <div class="col col-100">
                    <h3 class="page-title">Worked: {{selectedDay.workedHours}}</h3>
                    <h3 class="page-title">Extra: {{selectedDay.extraHours}}</h3>
                    <h3 class="page-title">Fault: {{selectedDay.falthours}}</h3>
                    <table class="flat-table">
                        <tr>
                            <th>Event</th>
                            <th>Time</th>
                            <th></th>
                        </tr>
                        <tr
                        ng-repeat="evt in selectedDay.evts">
                            <td>{{evt.type}}</td>
                            <td>{{evt.check}}</td>
                            <td><a ng-if="$last && (selectedDay.evts.length > 2)" class="edit-link"><img ng-click="removeEvt(selectedDay)" class="edit-image" src="img/remove.png" alt="remove" /></a></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </ion-content>
    
    <script id="unselectedWorkload.html" type="text/ng-template">
        <div class="modal">
            <ion-content scroll="false" class="modal-text">
                <div class="row">
                    <div class="col col-80">
                        <span>you haven't selected a workload yet!</span>
                    </div>
                    <div class="col col-20">
                        <img class="modal-image" src="img/alert.png" alt="alert" />
                    </div>
                </div>
            </ion-content>
        </div>
    </script>
    
</ion-view>