<ion-view view-title="Settings" hide-back-button="true">
  <ion-content>
      <div class="row">
          <div class="col col-100">
              <h2 class="page-title">Select a workload</h2>
          </div>
      </div>
      <div class="row">
          <div class="col col-center">
            <ion-list id="workloadSelect">
                <ion-item ng- class="item-list"
                          id="workloadItem{{value.number}}"
                          ng-click="saveWorkload(value.number);changeColor('workloadItem'+value.number);openModal()"
                          ng-repeat="value in data.workloadOptions"> 
                    <h4 class="workload-item">{{value.number}}</h4>
                </ion-item>
                <div ng-bind="selectLastOption();"></div>
            </ion-list>
          </div>
      </div>
  </ion-content>
    
    <script id="configurationSavedModal.html" type="text/ng-template">
        <div class="modal">
            <ion-content scroll="false" class="modal-text">
                <div class="row">
                    <div class="col col-80">
                        <span class="modal-text" style="margin-left: 30%">Saved!</span>
                    </div>
                    <div class="col col-20">
                        <img class="modal-image" src="img/check.png" alt="check" />
                    </div>
                </div>
            </ion-content>
        </div>
    </script>
    
</ion-view>
